/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.head-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.head-block__img {
  width: 100%;
}
.head-block__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .head-block {
    text-align: center;
  }
}
.main-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-row-wrapper {
  display: flex;
}
.main-block__list {
  margin: 0;
  padding: 0px;
}
.main-block__list-element,
.subheading {
  list-style: none;
}
.main-block__input,
.main-block__list-button {
  outline: none;
}
.main-block__list-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main-block__list-button:hover {
  color: #3a3A3a;
}
/* Heading */
.subheading,
.main-block__label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main-block__input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main-block__input[type="text"]:focus {
  color: #333;
}

/* New Task */
.main-block__label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
.main-block__input#new-task {
  width: 318px;
}
p > .main-block__list-button:hover {
  color: #0FC57C;
}

/* Task list */
.main-block__list-element {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-block__list-element > * {
  vertical-align: middle;
}

.main-block__list-element > .main-block__input[type="checkbox"] {
  margin: 0 10px;
}
.main-block__list-element > .main-block__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main-block__list-element >  .main-block__input[type="text"] {
  width: 226px;
}
.main-block__list-element > .main-block__list-button.delete:hover {
  color: #CF2323;
}
.main-block__list-button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.main-block__list-button.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main-block__list#completed-tasks-list .main-block__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main-block__list-element .main-block__input[type=text] {
  display:none;
}

.editMode .main-block__input[type=text] {
  display: inline-block;
  width: 224px;
}

.editMode .main-block__label {
  display: none;
}